.container {
  padding: 0 40px;

  .main-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    .general-info {
      .rating-and-category {
        display: flex;
        align-items: center;
        margin-top: 24px;

        .badge {
          margin-right: 8px;
        }

        .price {
          color: $green;
          font-size: 26px;
          font-weight: 800;
          margin-left: auto;

          .duration {
            font-size: 16px;
            font-weight: 400;
            color: $gray;
            text-align: right;
          }
        }
      }

      .hotel-name {
        font-weight: 800;
        font-size: 18px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .map {
        .map-title {
          margin-top: 40px;
          font-weight: 800;
          font-size: 18px;
          color: $black;
        }

        .address {
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 14px;
          color: $gray;
        }

        img {
          width: 100%;
        }
      }

      .progress-bars-section {
        .bar-title {
          margin-top: 40px;
          margin-bottom: 15px;
          font-weight: 800;
          font-size: 18px;
          display: inline-block;
        }

        .bar {
          margin-bottom: 10px;
        }

        span {
          font-size: 14px;
        }
      }

      .hotel-address {
        font-size: 16px;
        margin-bottom: 20px;
        width: 50%;
        color: $gray;
      }

      .hotel-category {
        margin-bottom: 10px;
        .category-badge {
          margin-right: 8px;
          margin-bottom: 5px;
        }
      }

      .title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .rating {
          width: 42px;
          height: 42px;
          background: $primary-blue;
          border-radius: 5px;
          color: #FFFFFF;
          font-weight: 800;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
        }

        .text {
          font-weight: 700;
          font-size: 16px;
          color: $black;
          margin-right: 15px;
        }

        .count {
          font-size: 14px;
          color: $gray;
        }
      }

      .item {
        margin-top: 40px;

        .title {
          margin-top: 20px;
          margin-bottom: 10px;
          font-weight: 800;
          font-size: 18px;
          color: $black;
        }

        .text {
          color: $gray;
        }

        .pseudo {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;

          &:before {
            width: 3px;
            height: 3px;
            background: $gray;
            border-radius: 50%;
            display: block;
            content: '';
            margin-left: 1em;
            margin-right: 10px;
          }
        }
      }

      .facilities {
        margin-top: 40px;

        .title {
          color: $black;
          font-weight: 800;
          font-size: 18px;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          display: inline-block;
          margin-bottom: 20px;
        }

        .facility {
          cursor: pointer;
          display: flex;
          align-items: center;
          color: $gray;
          margin-top: 11px;

          img {
            margin-right: 8px;
          }
        }

        .items {
          margin-left: 1em;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
        }

        .more-button {
          cursor: pointer;
          margin-top: 20px;
          color: $primary-blue;
          font-size: 16px;
          display: inline-block;
          font-weight: 500;
          margin-bottom: 20px;

          img {
            margin-left: 8px;
          }

          .arrow-up {
            transform: rotate(180deg);
          }
        }

        .more-facilities {
          margin-top: 20px;
        }
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;
    }
  }

  .issues {
    margin-top: 20px;

    span {
      display: inline-block;
      margin-bottom: 20px;
      color: $black;
      font-weight: 800;
      font-size: 18px;
    }

    > div {
      display: flex;
      flex-direction: column;
    }

    .text {
      color: $gray;
      margin-top: 10px;

      &:last-child {
        margin-bottom: 30px;
      }

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .last-search {
    background: #E8E9F3;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow: scroll;
    span {
      display: inline-block;
      margin: 30px 0 20px 10px;
      font-weight: 800;
      font-size: 26px;
      color: $black;
    }

    > div {
      padding: 0 10px 10px 10px;
      display: inline-flex;
    }

    .hotel-card {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .mobile-image-section {
    display: none;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 0 16px;

    .images-section {
      display: none;
    }

    .mobile-image-section {
      display: block;
    }

    .main-section {
      grid-template-columns: 1fr;

      .general-info {
        .hotel-name {
          display: flex;
          justify-content: space-between;

          .price {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.vueperslides__arrows {
  button {
    padding: 0 !important;
  }
  .vueperslides__arrow--prev {
    left: 0 !important;
  }
  .vueperslides__arrow--next {
    right: 0 !important;
  }
}
